# config for DocGPT
dev = "True"

# OpenAI config
model = "gpt-4"
openai_token = "sk-TOKEN"

# FeatureBase config
featurebase_endpoint = "https://query.featurebase.com/v2/databases/xxxx-xxxx"
featurebase_token = "TOKEN"
